.game {
  position: relative;
  font-family: "Bellefair";
}

.progress_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .logo {
    height: 500px;
  }
  .progress_bar_wrapper {
    position: relative;
    margin-bottom: 12px;
    height: 20px;
    width: 90%;
    .progress_bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: darkred;
      transition: width 1s;
    }
  }
}
