.container {
  background: #000;
  .game_wrapper {
    padding: 20px;
  }
  .map_container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 100px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    .map_wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      transition: transform 0.3s;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
    .info_container {
      width: 50%;
      color: white;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}
