.hero_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: -2;
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 500px;
    min-height: 300px;
    box-sizing: border-box;
    background: url("./logo.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    will-change: transform;
    transition: transform 0.1s;
  }
  .trees {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;
    transition: transform 0.1s;
  }
  .trees_1 {
    background-image: url("./hero_images/parallax_01.png");
    z-index: 3;
  }
  .trees_2 {
    background-image: url("./hero_images/parallax_02.png");
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: #1b1b1b;
    }
  }
  .trees_3 {
    background-image: url("./hero_images/parallax_03.png");
    z-index: 1;
  }
}

.container {
  background: #000;
  .game_wrapper {
    padding: 20px;
  }
  .map_container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 100px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    .map_wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      transition: transform 0.3s;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
    .info_container {
      width: 50%;
      color: white;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
}
