.container {
  background: #000;
}

.container .game_wrapper {
  padding: 20px;
}

.container .map_container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 100px;
}

@media (max-width: 1000px) {
  .container .map_container {
    flex-direction: column;
  }
}

.container .map_container .map_wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s;
}

@media (max-width: 1000px) {
  .container .map_container .map_wrapper {
    width: 100%;
  }
}

.container .map_container .info_container {
  width: 50%;
  color: white;
}

@media (max-width: 1000px) {
  .container .map_container .info_container {
    width: 100%;
  }
}
